---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold"<p style="text-align:center"></p>Contact</div></p><br>
    <p style="text-align:center">Please feel free to contact me for anything!</p>
  </div>


  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li><p><a href="mailto: lakshnag2004@gmail.com"><u>Email Me</u></a></p></li>
    <li>Connect with me on <a href = "https://www.linkedin.com/in/lakshay-nagpal-6475661b1/"><u>LinkedIn</u></a></li>
    <li>Talk to me on <a href = "https://www.instagram.com/laksh_nagpal_/"><u>Instagram</u></a></li>
  </ul>