---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="The University of Texas at Austin - McCombs School of Business" 
      subtitle="From August 2023 - PRESENT (Austin, TX)"
    >
      <i>BA in Management Information Systems</i>
      <ul class="list-disc md:columns-1 columns-2 mx-6">
        <li>GPA: 3.63/4.0</li>
        <li>Relevant Coursework: Database Management, Introduction to Problem Solving and Programming, Introduction to Data Science, Introduction to Information Management Systems, Leadership Challenges and Innovation
        </li>
      </ul>
      <p>&NonBreakingSpace;</p>

      
      
    </TimeLineElement>
    <TimeLineElement
      title="The Woodlands College Park High School - Academy of Science and Technology"
      subtitle="From August 2019 - May 2023 (Woodlands, TX)"
    >
     <ul class="list-disc md:columns-1 columns-2 mx-6">
       <li>Weighted GPA - 5.3148/6.0; Unweighted GPA - 3.9074/4.0; Class Rank - 33/755 (Top 4.37%); SAT - 1470/1600 (99th percentile nationwide)
       </li>
       <li>Relavant Coursework: AP Macroeconomics, AP Computer Science Principles, and AP Statistics
     </li>
     </ul>   
  </div>

  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
    
  </div>
  

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Paradigm Robotics - Business Analyst Intern"
    subtitle="From May 2024 - Present (Austin, TX)"
  >
  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li>Formulated a 20-page report on market sizing, pain point survey, and competitive analysis to integrate company’s robot into O&G</li>
    <li>Spearheaded O&G customer discovery by attending an energy robotics expo and conducting six industry professional interviews 

    </li>
    <li>Developing company product and technical strategy to scale entry into the O&G sector based on comprehensive market research
      </li>
  </ul>
  <p>&NonBreakingSpace;</p>
  </TimeLineElement>
    <TimeLineElement
    title="Westlake Securities - Product Consultant Extern"
    subtitle="From January 2024 - May 2024 (Austin, TX)"
  >
  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li>Conducted in-depth research on over 15 AI tools and developed strategic proposals for their efficient implementation in the firm</li>
    <li>Elected as the group's project lead to engage in monthly client meetings and organize team's research tasks using Excel and Jira
    </li>
    <li>Presented the five best solutions aligning with the firm’s north star metric to automate financial modeling and deal-sourcing tasks
      </li>
  </ul>
  <p>&NonBreakingSpace;</p>
  </TimeLineElement>
    <TimeLineElement
      title="Chevron Phillips Chemical - Business Operations and Product Intern"
      subtitle="From June 2022 - August 2022 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Researched advances in polymer technologies and drafted 10 chemical product summaries, highlighting their properties and uses</li>
      <li>Supported administrative teams by preparing five financial and product presentations and analyzing sales report data via Tableau
      </li>
      <li>Launched process safety initiatives to reduce injury rates for labor-intensive and hazardous jobs by 50% via set rotational schedules</li>
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="University of Houston - Intern as an Instructional Technology Mentor (80 hours)"
      subtitle="From June 2020 - July 2020 (Houston, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Ran student activities teaching Scratch, HTML/CSS, Python, and Micro:bit programming to 12 students.</li>
      <li>Tracked student membership and created student daily reports.</li>
    </ul>  
    
    </TimeLineElement>
    
      
    
      
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Volunteer Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Teach2Learn - Ambassador and Mentor for Entrepreneurship and AI Workshops"
      subtitle="From June 2020 - May 2023 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Led a team of five to teach and develop curriculum for entrepreneurship and AI workshops for 50+ students.</li>
      <li>Working with non-profit BreakThrough Houston to expose 660 underserved children to STEM opportunities. </li> 
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="Youth Club - Volunteer"
      subtitle="From June 2019 - May 2020 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Collaborated with a team of 15 to cook food for 150 people in the Hindu Temple of the Woodlands.</li>
      <li>Ran food and ticket stalls catering to over 5000 people in festivals at the Hindu Temple of the Woodlands.</li>
      <li>Started an initiative for members to create toys to donate to 6 charities and animal shelters. </li>
      <li>Taught groups of 20 kids English, math, coding, Hindu literature, and yoga.</li>
    </ul>  
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="FISH Camp - Counselor"
      subtitle="From June 2020 - July 2020 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Served as a camp counselor for 75 incoming freshmen within the Academy of Science and Technology.</li>
    </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Clubs</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Texas Luminescence - Product Manager"
      subtitle="From September 2023 - Present (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Teamed up with six engineers and three designers to create product specifications for DerMetric: an AI skin disease diagnostic app
      </li>
      <li>Applied agile methods via weekly scrum meetings to establish cross-functional team communication and steer project objectives
      </li>
      <li>Devised solution roadmap and prioritized product backlog to ensure timely delivery of features and support DerMetric’s growth</li>
      <li>Facilitated weekly workshops going over product management-related topics such as market research, product strategy, testing, etc. </li> 
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

    <TimeLineElement
      title="Texas Enactus - Product Manager"
      subtitle="From September 2023 - PRESENT (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li> Prototyped four innovative Figma UI/UX app features and implemented A/B testing to enhance user satisfaction ratings by 40%

      </li>
      <li>Conducted 8/40+ physician interviews and surveys to gauge user experience with app features and streamline its user journey
      </li> 
      <li> Connecting with clinics for MVP pilot testing and revamping TeachBack’s slide deck to be used in startup pitch competitions
      </li>
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

    <TimeLineElement
      title="Social Entrepreneurship Learning Lab (SELL) - Incubator Programming Lead and Senior Fellow"
      subtitle="From September 2023 - PRESENT (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Created Asthmetric: a startup that alerts asthma patients of their risk of having an asthmatic episode through AI and machine learning.</li>
      <li>Analyzing feedback and refining curriculum content and activities for 16 workshops within the Incubator Fellowship Program </li> 
      <li>Presented Asthmetric to business professionals at the Sell Your Startup (SYS) pitch day.</li>
      <li>Executed 15 stakeholder interviews and four proof of concept tests with KPI tracking to validate market potential and mobile app</li>
      <li>Constructed 20+ user personas/stories and increased user asthma attack risk awareness by 88% via Figma MVP usability testing</li>
      <li>Showcased venture at the Sell Your Impact (SYI) competition, raising $650, and expanded my team with six engineers/designers
      </li>
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

    <TimeLineElement
      title="Texas Product Catalyst - Product Fellow"
      subtitle="From January 2024 - May 2024 (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Completed a 12-week hands-on curriculum, focusing on design thinking, user empathy, product strategy, and product-led growth
      </li>
     
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

   
    
     
  </div>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>Python</li>
    <li>MySQL</li>
    <li>Basic HTML & Tailwind</li>
    <li>Astro</li>
    <li>PowerBI</li>
    <li>Jira</li>
    <li>Microsoft Suite (Excel, PowerPoint, & Word)</li>
    <li>Google Suite (Docs, Slides, and Spreadsheets)</li>
    <li>Canva</li>
    <li>UI Design</li>
    <li>Business Plan Writing</li>
    <li>Research and Technical Plan Writing</li>
    <li>Scrum</li>
    <li>Market Research</li>
   
  </ul>

 
</BaseLayout>