---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="The University of Texas at Austin - McCombs School of Business" 
      subtitle="From August 2023 - PRESENT (Austin, TX)"
    >
      <i>BA in Business</i>
      <ul class="list-disc md:columns-1 columns-2 mx-6">
        <li>GPA: 3.86/4.0</li>
        <li>Relevant Coursework: Introduction to Microeconomics, Introduction to Information Technology Management, Leadership Challenges and Innovation
        </li>
      </ul>
      <p>&NonBreakingSpace;</p>

      
      
    </TimeLineElement>
    <TimeLineElement
      title="The Woodlands College Park High School - Academy of Science and Technology"
      subtitle="From August 2019 - May 2023 (Woodlands, TX)"
    >
     <ul class="list-disc md:columns-1 columns-2 mx-6">
       <li>Weighted GPA - 5.3148/6.0; Unweighted GPA - 3.9074/4.0; Class Rank - 33/755 (Top 4.37%); SAT - 1470/1600 (99th percentile nationwide)
       </li>
       <li>Relavant Coursework: AP Macroeconomics, AP Computer Science Principles, and AP Statistics
     </li>
     </ul>   
  </div>

  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
    
  </div>
  

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Chevron Phillips Chemical - Intern under a CP Chem Planning Manager (40 hours)"
      subtitle="From June 2022 - July 2022 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Gained real-life experience within finance and business through learning about the manufacturing, marketing, and supply chain processes behind CP Chem’s petrochemicals and reviewing CP Chem’s company financials. </li>
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="University of Houston - Intern as an Instructional Technology Mentor (80 hours)"
      subtitle="From June 2020 - July 2020 (Houston, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Ran student activities teaching Scratch, HTML/CSS, Python, and Micro:bit programming to 12 students.</li>
      <li>Tracked student membership and created student daily reports.</li>
    </ul>  
    
    </TimeLineElement>
    
      
    
      
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Volunteer Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Teach2Learn - Ambassador and Mentor for Entrepreneurship and AI Workshops"
      subtitle="From June 2020 - May 2023 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Led a team of five to teach and develop curriculum for entrepreneurship and AI workshops for 50+ students.</li>
      <li>Working with non-profit BreakThrough Houston to expose 660 underserved children to STEM opportunities. </li> 
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="Youth Club - Volunteer"
      subtitle="From June 2019 - May 2020 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Collaborated with a team of 15 to cook food for 150 people in the Hindu Temple of the Woodlands.</li>
      <li>Ran food and ticket stalls catering to over 5000 people in festivals at the Hindu Temple of the Woodlands.</li>
      <li>Started an initiative for members to create toys to donate to 6 charities and animal shelters. </li>
      <li>Taught groups of 20 kids English, math, coding, Hindu literature, and yoga.</li>
    </ul>  
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>
    <TimeLineElement
      title="FISH Camp - Counselor"
      subtitle="From June 2020 - July 2020 (Woodlands, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Served as a camp counselor for 75 incoming freshmen within the Academy of Science and Technology.</li>
    </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Clubs</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Texas Luminescence - Product Manager and Subject Expert"
      subtitle="From September 2023 - PRESENT (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Managed a team of 7 to build DermaVision: an AI skin disease diagnostic tool.
      </li>
      <li>Facilitated weekly workshops going over product management-related topics such as market research, product strategy, testing, etc. </li> 
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

    <TimeLineElement
      title="Texas Enactus - Product Manager"
      subtitle="From September 2023 - PRESENT (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Revised Navigo’s automated teach-back tool business plan and slide deck to be used in pitch competitions such as TigerLaunch. 
      </li>
      <li>Reached out to 40 physicians and conducted 10 physician interviews to understand gaps in health literacy and get project feedback.  </li> 
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

    <TimeLineElement
      title="Social Entrepreneurship Learning Lab (SELL) - Ideator"
      subtitle="From September 2023 - PRESENT (Austin, TX)"
    >
    <ul class="list-disc md:columns-1 columns-2 mx-6">
      <li>Created Asthmetric: a startup that alerts asthma patients of their risk of having an asthmatic episode through AI and machine learning.</li>
      <li>Conducted 15 beneficiary interviews with asthma patients and physicians. </li> 
      <li>Presented Asthmetric to business professionals at the Sell Your Startup (SYS) pitch day.</li>
    </ul>
    <p>&NonBreakingSpace;</p>
    </TimeLineElement>

   
    
     
  </div>


 
</BaseLayout>